*, ::before, ::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    display: flex;
    flex-direction:column;
}

h1{
    font-size:10vw;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.contenu {
    /*grow shrink basis*/
    flex: 1 0 auto;
    
}

.contenu p {
    padding : 5vw 10 vw;
    text align: justify;
}