*, ::before, ::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    display: flex;
    flex-direction:column;
}

h1{
    font-size:10vw;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.contenu {
    /*grow shrink basis*/
    flex: 1 0 auto;
    
}

.contenu p {
    padding : 5vw 10 vw;
    text-align: justify;
}

footer {
    flex-shrink:0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}

.contenu-footer {
    width:1200px;
    margin: 0 auto;
    display: flex;
    justify-content :center;
    align-items: flex-start;
    font-size:20px;
    padding:50px 0 100px;
}

img {
    width:20px;
}